<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB_PROD" connectionString="data source= ;user id= ;password= ;initial catalog= ;persist security info=True;TrustServerCertificate=True" providerName="System.Data.SqlClient;"  />
		<add name="DB_DEV" connectionString="data source= ;user id= ;password= ;initial catalog= ;persist security info=True;TrustServerCertificate=True" providerName="System.Data.SqlClient;"  />
	</connectionStrings>
</configuration>