<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB_A" connectionString="data source= ;user id= ;password= ;initial catalog= ;persist security info=True;TrustServerCertificate=True" providerName="System.Data.SqlClient;"  />
		<add name="DB_B" connectionString="data source= ;user id= ;password= ;initial catalog= ;persist security info=True;TrustServerCertificate=True" providerName="System.Data.SqlClient;"  />
		<add name="DB_C" connectionString="data source= ;user id= ;password= ;initial catalog= ;persist security info=True;TrustServerCertificate=True" providerName="System.Data.SqlClient;"  />
	</connectionStrings>
	<appSettings>
		<!-- Comma Separated List Of Column Names To Ignore For Auto-Generating Query Joins-->
		<add key="DefaultColumnsToIgnore" value="" />
		<add key="RefreshSchemaOnEveryStart" value="false" />
	</appSettings>
</configuration>